{
  "root": true,
  "env": {
    "browser": true,
    "es2017": true,
    "node": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "overrides": [
    {
      "files": ["*.svelte"],
      "processor": "svelte3/svelte3"
    }
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["svelte3"]
}
